<header>
    <nav class="main-nav">
        <div class="main-nav__item">
            <a href="/" class="main-nav__logo-link">Doner Dorgan</a>
        </div>
        <ul class ="main-nav__links list-inline">
            <li class="list-inline-item"><a href="#" class="ext-link">Abats</a></li>
            <li class="list-inline-item"><a href="#" class="ext-link">Contact</a></li>
        </ul>
    </nav>
</header>
