<!--<div class="wrapper__tabs">
    <div class="container">
        <ul class="row nav tabs">
            <a href="#tab1" class="tabs__btn col-sm "><li class="tabs__item" data-tab="tab1">Présentation</li></a>
            <a href="#tab2" class="tabs__btn col-sm "><li class="tabs__item" data-tab="tab2">Menu</li></a>
            <a href="#tab3" class="tabs__btn col-sm "><li class="tabs__item" data-tab="tab3">Ingrédient mystère</li></a>
        </ul>
        <div id="#tab1" class="col-sm-12 jumbotron tab__content current">
            <p>Dans To Eat or to be Eaten, A Guide to Cannibalism, on trouve des schémas de découpe bouchère pour détailler
                    la viande humaine — on peut ensuite l'accommoder grâce à une sélection de différentes recettes cannibales,
                    comme le tartare d’humain.</p>
        </div>
        <div id="#tab2" class="col-sm-12 jumbotron tab__content hide">
            <p>Loreeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeeem.</p>
        </div>
        <div id="#tab3" class="col-sm-12 jumbotron tab__content hide">
            <p>Ipsuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuuum.</p>
        </div>
    </div>
</div>
-->

<div class="container">
        <ul class="tabs nav">
            <li class="tab-link current row col-sm-4" data-tab="tab-1">Présentation</li>
            <li class="tab-link row col-sm-4" data-tab="tab-2">Menu</li>
            <li class="tab-link row col-sm-4" data-tab="tab-3">Onglet</li>
        </ul>
        <div id="tab-1" class="tab-content current">
            Le myope ressemble au presbyte, seulement il a les yeux plus grands et une raie au milieu. Ses lunettes doivent être enlevées afin qu'il tombe dans le gratin. Il se prépare comme le cabillaud.
        </div>
        <div id="tab-2" class="tab-content">
           L'homme une fois cuit dans la marmite, aprés avoir été débarrassé des liens qui le retenaient, doit être posé sur un plat et entouré de queqlques branches de persil ou de légumes ayant servi à la cuisson. On le saupoudre au dernier moment de gros sel de cuisine, qui reléve sa saveur de plaisante façon.
        </div>
        <div id="tab-3" class="tab-content">
            Embrassez maman sur les deux joues puis coupez-la en deux : jetez dessus de l'eau bouillante ;
ôtez la tête qui sourit avec bonté - elle vous couperait l'appétit -, la colonne vertébrale et tous
les os qui peuvent être ôtés. Préparez les pommes de terre cuites à l'eau que vous couperez en
ronds et que vous mettrez en salade. Mélangez les petits bouts de maman à la salade, et arrosez d'huile d'olive avant de servir. Vous n'oublierez pas de glisser quelques roses blanches sous
le plat : elles protégeront la nappe, et puis maman les aimait tant. 
        </div>
</div>
