@import url('https://fonts.googleapis.com/css?family=Baloo+Bhai|Montserrat');
$red: #b80c09;
$grey: #b7b5b3;
$dark-red: #A5110C;
$dark-grey: #282828;

$body-font: 'Montserrat', sans-serif;
$header-font: 'Baloo Bhai', cursive;
